{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Математические операции</h1>
        <p>Число A: {{ a }}</p>
        <p>Число B: {{ b }}</p>
        <ul>
            <li>Сумма: {{ a }} + {{ b }} = {{ sum }}</li>
            <li>Разность: {{ a }} - {{ b }} = {{ diff }}</li>
            <li>Умножение: {{ a }} * {{ b }} = {{ mult }}</li>
            <li>Деление: {{ a }} / {{ b }} = {{ div }}</li>
            <li>Степень: {{ a }}<sup>{{ b }}</sup> = {{ pow }}</li>
        </ul>
{% endblock %}