{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1 style='text-align:center'>Шаблоны</h1>
    <h2>Тема лабораторной - шаблоны. Список сделанных страниц:</h2>
    <h3>Работа с цветами:</h3>
    <ul>
        <li><a href="/lab2/flowers">Все цветы</a></li>
        <li><a href="/lab2/flowers/0">Первый цветок</a></li>
        <li><a href="/lab2/flowers/1">Второй цветок</a></li>
        <li><a href="/lab2/add_flower/">Ошибка 400 (без имени)</a></li>
        <li><a href="/lab2/clear_flowers">Очистить список цветов</a></li>
    </ul>
    
    <h3>Калькулятор:</h3>
    <ul>
        <li><a href="/lab2/calc/">Калькулятор (по умолчанию)</a></li>
        <li><a href="/lab2/calc/10">Калькулятор с одним числом</a></li>
        <li><a href="/lab2/calc/15/3">Калькулятор с двумя числами</a></li>
    </ul>
    
    <h3>Книги:</h3>
    <ul>
        <li><a href="/lab2/books">Список книг</a></li>
    </ul>
    
    <h3>Автомобили:</h3>
    <ul>
        <li><a href="/lab2/cars">Каталог автомобилей</a></li>
    </ul>
    
    <h3>Другие страницы:</h3>
    <ul>
        <li><a href="/lab2/example">Пример</a></li>
        <li><a href="/lab2/filters">Фильтры</a></li>
        <li><a href="/lab2/a">Без слэша</a></li>
        <li><a href="/lab2/a/">Со слэшем</a></li>
    </ul>
{% endblock %}